header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    color: $black-normal;
}



// .header-button{
//     border: 1px solid $white-normal;
//     padding: 8px 16px;
//     border-radius: 4px;
//     color: $white-normal;
//     background-color: transparent;
//     transition: background-color 0.8s;
// }

// .header-button:hover{
//     border: 2.5px solid $red-light;
//     background-color: $red-light;
// }

.header-logo {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 48px;
    margin-left: auto; /* Empurra para o centro */
    margin-right: auto; /* Empurra para o centro */
    width: fit-content; /* Garante que ocupe apenas o espaço necessário */
    text-align: center;
}



@media screen and (max-width: 768px){
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 16px;
            font-size: 40px;
        }
    }
    .header-logo img{
        width: 150px;
        margin-top: 50px;
        
    }
    .header-button{
        display: none;
    }
}
