@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #232224;
}

.header-logo {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 48px;
  margin-left: auto; /* Empurra para o centro */
  margin-right: auto; /* Empurra para o centro */
  width: -moz-fit-content;
  width: fit-content; /* Garante que ocupe apenas o espaço necessário */
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 40px;
  }
  .header-logo img {
    width: 150px;
    margin-top: 50px;
  }
  .header-button {
    display: none;
  }
}
/* ============================
   Estilo para Ícones do Header
============================ */
.header-icons {
  display: flex; /* Define flexbox para layout */
  gap: 50px; /* Espaço entre os ícones */
  height: 40px; /* Altura do contêiner */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  margin: 15px auto; /* Espaçamento superior e centralização */
  width: -moz-fit-content;
  width: fit-content; /* Adapta o tamanho ao conteúdo */
  font-size: 20px; /* Tamanho da fonte */
  transition: transform 0.3s; /* Efeito suave no hover */
}

.header-icons a:nth-child(1) i {
  color: #E4405F;
} /* Cor do Instagram */
.header-icons a:nth-child(2) i {
  color: #3b5998;
} /* Cor do Facebook */
.header-icons a:nth-child(3) i {
  color: #25D366;
} /* Cor do WhatsApp */
/* Animação no hover dos ícones */
.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-10px) scale(1.5);
  }
}
/* ============================
   Contêiner Geral
============================ */
.container {
  max-width: 1440px; /* Largura máxima */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 0 10px; /* Espaçamento interno */
}

/* ============================
   Seção de Fundo da Página
============================ */
.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("Parauapebas-Foto-Joao-Marcos-Rosa-scaled.jpg") no-repeat center/cover;
  z-index: -1; /* Move o fundo para trás */
}

/* ============================
   Hero Section
============================ */
.hero {
  color: #000; /* Ajuste a cor conforme necessário */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}

.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-weight: 800;
  font-size: 30px;
}

.hero p {
  text-align: center;
  margin: 14px 0;
}

/* Botão de contato */
.button-contact {
  border: 1px solid #000;
  padding: 4px 16px;
  border-radius: 8px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.9s;
  color: black;
}

.button-contact:hover {
  border: 2px solid #37ec34;
  background-color: #37ec34;
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
/* Responsividade do Hero */
@media (max-width: 768px) {
  .hero {
    min-height: 5vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
  }
  .hero p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
  .hero p {
    font-size: 12px;
  }
}
/* ============================
   Seção Sobre
============================ */
.about {
  overflow: hidden;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.about-content img {
  max-width: 470px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 28px;
  margin-bottom: 24px;
}

.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

/* Responsividade da seção "Sobre" */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about-content img {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
/* ============================
   Seção de Serviços
============================ */
.services {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.services-content p {
  line-height: 125%;
  text-align: justify;
  max-width: 900px;
  margin: 0 auto 20px;
  padding: 0 20px;
}

/* ============================
   Seção de Aluguel
============================ */
.rent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.rent img {
  width: 100%;
  max-width: 1080px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #000000;
  border-radius: 10px;
  margin-top: 30px;
  transition: transform 0.4s;
}

.rent img:hover {
  transform: scale(1.08);
  z-index: 1;
}

.rental-details {
  max-width: 500px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.rental-price {
  display: flex;
  align-items: center;
  background-color: #fffbea;
  border: 2px solid #ffd700;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rental-price button {
  background-color: #ff9800;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.rental-price button:hover {
  background-color: #e68900;
  transform: scale(1.1);
}

/* Botões adicionais (Localização e Mais Detalhes) */
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.location-button button {
  background-color: #0fb11f;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.details-button button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.location-button button:hover {
  background-color: #218838;
}

.details-button button:hover {
  background-color: #0056b3;
}

/* Responsividade da seção de aluguel */
@media (max-width: 768px) {
  .rent {
    flex-direction: column;
    align-items: flex-start;
  }
  .rental-details {
    margin-left: 0;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 10px;
  color: black;
}

.footer-icons {
  display: flex; /* Define flexbox para layout */
  gap: 15px; /* Espaço entre os ícones */
  height: 40px; /* Altura do contêiner */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  margin: 15px auto; /* Espaçamento superior e centralização */
  width: -moz-fit-content;
  width: fit-content; /* Adapta o tamanho ao conteúdo */
  font-size: 25px; /* Tamanho da fonte */
  transition: transform 0.3s; /* Efeito suave no hover */
}

.footer-icons a:nth-child(1) i {
  color: #E4405F;
} /* Cor do Instagram */
.footer-icons a:nth-child(2) i {
  color: #3b5998;
} /* Cor do Facebook */
.footer-icons a:nth-child(3) i {
  color: #25D366;
} /* Cor do WhatsApp */
/* Animação no hover dos ícones */
.footer-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-10px) scale(1.5);
  }
}
.services-footer h3 {
  color: black;
  width: 100vw; /* Largura total da janela */
  margin: 0px 0; /* Espaçamento superior e inferior */
  padding: 10px 0; /* Espaçamento interno para aumentar a área do fundo */
  text-align: center; /* Centraliza o texto */
  position: relative; /* Garante a posição relativa */
  z-index: 1; /* Certifica-se de que o fundo fique acima de outros elementos */
  margin-bottom: 1px;
}

.services-footer {
  margin: 0px 0; /* Espaçamento superior e inferior */
  padding: 0px 0; /* Espaçamento interno para aumentar a área do fundo */
  text-align: center; /* Centraliza o texto */
  position: relative; /* Garante a posição relativa */
  z-index: 1; /* Certifica-se de que o fundo fique acima de outros elementos */
}

body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #fff;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=stile.css.map */